<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
			<section name="shSecureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>


	<configProtectedData>
		<providers>
			<add keyContainerName="shKeyContainer"
   name="shRsaProvider"
   useMachineContainer="true"
   type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>


	<shSecureAppSettings>
  <add key="UserName" value="myDOMAIN\myAppUser" />
  <add key="Password" value="my$ecuredPassw0rd!" />
 </shSecureAppSettings>  


    <appSettings>
        <add key="Test" value="123" />
    </appSettings>
	
</configuration>
