<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ApplicationTitle" value="Logins Report" />
        <add key="AllowedUsersGroup" value="REDMOND\github-users" />
        <add key="LogParserQuery" value="SELECT count(*) as LoginCount, cs-username as User FROM {0} WHERE sc-status = 200 GROUP BY User ORDER BY LoginCount Desc" />
    </appSettings>
</configuration>